<% provide(:title, "Contact") %>
<h1>Contact</h1>

<!-- Shows the contact form -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      Please leave your message in this form and you will receive an answer soon.
    </p>
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Send message', :class=> "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
